@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  width: 400px;
  background: #ffffff;
}

textarea {
  height: 50px;
  max-width: 100%;
  width: 100%;
}

.btn {
  border: 0;
  outline: 0;
}

.btn-copy {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: none;
  border: 1px solid #646a6d;
  text-transform: uppercase;
  font-family: arial;
  letter-spacing: 0.2em;
  transform: translateZ(0)
  cursor: pointer;
  border-radius: 0;
  transition: all .5s ease;
  color: #646a6d;
}

.btn-copy:hover {
  color: #fff;
  background: #646a6d;
}

.btn-add {
  padding: 9px 40px;
  background: none;
  border: 1px solid #646a6d;
  text-transform: uppercase;
  font-family: arial;
  font-size: 10px;
  letter-spacing: 0.2em;
  transform: translateZ(0)
  cursor: pointer;
  border-radius: 0;
  transition: all .5s ease;
  color: #646a6d;
  margin-right: 10px;
}

.btn-add:hover {
  color: #fff;
  background: #646a6d;
}
.saved-message-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  background-color: #f1f4f5;
  -webkit-box-shadow: inset 0 1px 2px #fff;
  -moz-box-shadow: inset 0 1px 2px #fff;
  box-shadow: inset 0 1px 2px #fff;
  border: 1px solid #d7d9da;
  border-radius: 2px;
  background-clip: padding-box;
   -webkit-background-clip: padding-box;
}
.saved-message-item {
  width: 100%;
  opacity: 1;
  display: flex;
  flex-direction: row;
  padding: 7px;
  /*border-left:  1px solid #d7d9da;*/
  /*border-right: 1px solid #d7d9da;*/
  align-items: center;
  transition: all .2s ease;
  background-color: #f1f4f5;
  -webkit-box-shadow: inset 0 1px 2px #fff;
  -moz-box-shadow: inset 0 1px 2px #fff;
  box-shadow: inset 0 1px 2px #fff;
}

.saved-message-wrapper:first-child {

  background: #348C8C;
  /*border-top: 1px solid #7198BB;*/
}

.saved-message-wrapper:last-child {
  /*border-bottom: 1px solid #7198BB;*/
}

.saved-message-item:nth-child(odd) {
  background: #E1EDF1;
}

.saved-message-title {
  flex: 2 0 0;
  color: #646a6d;
}

 .saved-message-action {
  color: #646a6d;
  font-size: 18px;
  padding: 0 5px;
}

.saved-message-action i {
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
  transition: all .2s ease;
}

.saved-message-action i:hover {
  opacity: 1;
}


.saved-message-wrapper:last-child  {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




